source https://nuget.org/api/v2

nuget Deedle
nuget FSharp.Charting
nuget FSharp.Compiler.Service
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Formatting
nuget Newtonsoft.Json
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget Suave ~> 0.33.0

github fsharp/FAKE modules/Octokit/Octokit.fsx
